.banner-grid-container {
    display: grid;
    grid-template-columns: .5fr 4fr;
    grid-auto-rows: 10rem 6rem;
}

.logo-flex {
    display: flex;
    justify-content: center;
}

.logo-flex div {
    align-self: center;
    padding: 1rem;
    color: #F5DFBB;
    font-size: 1.5rem;
}

.grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url("/images/ben-kolde-bs2Ba7t69mM-unsplash.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.grid-item-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #127475;
}

.grid-item-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #127475;
}

.nav-flex {
    display: flex;
    justify-content: flex-end;
}

.nav-other-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: underline;
    color: #F5DFBB;
    font-size: 2rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 0;
    padding: 2rem;
}